<div class="container">
	<div class="page-title-no-image"><%= raw(@job.title) %></div>
	<div class="row">
		<div class="col-md-8">
			<h2><%= t('.description')%></h2>
			<%= @job.description.html_safe %>
			<p><%= link_to t('.back_to_list'), refinery.jobs_jobs_path %></p>
		</div>
		<div class="side-bar col-md-4">
			<%= render :partial => "/refinery/jobs/job_applications/form" %>
		</div>
	</div>
</div>